<div class="row mt-md-5 pt-md-5">
    <div class="col-md-4"><app-student-form></app-student-form></div>
    <div class="col-md-8 pl-md-5">    
      <p *ngIf="!service.list"><em>Loading...</em></p>
      
      <table class='table table-striped' *ngIf="service.list">
        <thead>
          <tr>
            <th>#</th>
            <th>Ad - Soyad</th>
            <th>Kayıt Tarihi</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of service.list; let i = index">
            <td><b>{{i + 1}}</b></td>
            <td (click)="populateForm(student)">{{ student.name }} {{student.surname}}</td>
            <td>{{ student.dateOfReg | date:'yyyy'}}</td>
            <td>
              <button class="btn btn-sm btn-info mx-1" (click)="populateForm(student)">Güncelle</button>
              <button class="btn btn-sm btn-danger mx-1" (click)="onDelete(student.id)">Sil</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      
  </div>
  
  
  </div>